#container {
  display: flex;
}
#profile-bar {
  display: flex;
  background-color: #4267b2;
  box-sizing: border-box;
  padding: 20px;
  align-items: space-between;
  flex-direction: row;
}
.user-name {
  display: flex;
  align-items: center;
  background-color: #4267b2;
  color: white;
}
